# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Logs
*.log

# Test files and outputs
test-output
app.test.js
*.test.js
coverage

# Local files
allfiles.txt

pics

# Docker-related
docker-compose.yml

# Git & configs
.git
.gitignore
Intern_CICD_Project.md
README.md

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan

