# Node dependencies and logs
node_modules
npm-debug.log
yarn-error.log
*.log

# Environment files
.env
.env.local
.env.*.local

# Build/test artifacts
dist
build
coverage
.jest
output

# Git
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# OS / IDE files
.DS_Store
Thumbs.db
.vscode
.idea
