# Node
node_modules/
npm-debug.log*
package-lock.json


# OS
.DS_Store
Thumbs.db

# Env
.env

# Build / output
output/
!output/.gitkeep
public/*.map

# Jest cache
.jest/

# Editors/IDEs
.vscode/
.idea/
