# Node
node_modules
npm-debug.log*



# OS
.DS_Store
Thumbs.db

# Env
.env

# Build / output
output/
!output/.gitkeep
public/*.map

# Jest cache
.jest/

# Editors/IDEs
.vscode/
.idea/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
